In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hadoop fs -rm -f -r tmp;

Deleted tmp

In [3]:
%%hive
DROP TABLE IF EXISTS data;
CREATE TABLE data (letra STRING,
                   fecha STRING,
                   num INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';

DROP TABLE IF EXISTS data;
OK
Time taken: 21.743 seconds
CREATE TABLE data (letra STRING,
                   fecha STRING,
                   num INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';
OK
Time taken: 1.661 seconds

In [4]:
%%hive
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data;
--SELECT * FROM data LIMIT 5;

LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data;
Loading data to table default.data
OK
Time taken: 2.048 seconds
--SELECT * FROM data LIMIT 5;

In [5]:
%%hive
DROP TABLE IF EXISTS salida;
CREATE TABLE salida
AS
    SELECT *
    FROM
        data
ORDER BY
    letra, num;
    
--SELECT * 
--FROM salida 
--LIMIT 5;

DROP TABLE IF EXISTS salida;
OK
Time taken: 0.207 seconds
CREATE TABLE salida
AS
    SELECT *
    FROM
        data
ORDER BY
    letra, num;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200216003939_e11398e8-99c3-48d4-bfc9-ad270d3f2993
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581813162820_0003, Tracking URL = http://a50a9b7ab307:8088/proxy/application_1581813162820_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581813162820_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-16 00:40:00,284 Stage-1 map = 0%,  reduce = 0%
2020-02-16 00:40:08,575 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.79 sec
2020-02-16 00:40:18,059 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.58 sec
MapReduce Total cumulative CPU time: 4 seconds 580 msec
Ended Job = job_1581813162820_0003
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/salida
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.58 sec   HDFS Read: 7773 HDFS Write: 708 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 580 msec
OK
Time taken: 42.206 seconds
--SELECT *
--FROM salida
--LIMIT 5;

In [6]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;

INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200216004022_9f55e647-d3b1-45b0-85b3-3c6533a636f3
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581813162820_0004, Tracking URL = http://a50a9b7ab307:8088/proxy/application_1581813162820_0004/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581813162820_0004
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-16 00:40:35,044 Stage-1 map = 0%,  reduce = 0%
2020-02-16 00:40:45,494 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.39 sec
MapReduce Total cumulative CPU time: 2 seconds 390 msec
Ended Job = job_1581813162820_0004
Moving data to local directory output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.39 sec   HDFS Read: 4152 HDFS Write: 637 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 390 msec
OK
Time taken: 24.5 seconds

In [7]:
#!hadoop fs -copyToLocal ./tmp/000000_0 output

In [8]:
%hive_quit