In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hadoop fs -rm -f -r tmp;

Deleted tmp

In [3]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';

DROP TABLE IF EXISTS t0;
OK
Time taken: 13.416 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 4.411 seconds

In [4]:
%%hive
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 2.29 seconds

In [5]:
%%hive
DROP TABLE IF EXISTS temp0;
CREATE TABLE temp0
AS
    SELECT c1, A2, c3
    FROM (t0 LATERAL VIEW explode(c2) t0 AS A2);

DROP TABLE IF EXISTS temp0;
OK
Time taken: 0.021 seconds
CREATE TABLE temp0
AS
    SELECT c1, A2, c3
    FROM (t0 LATERAL VIEW explode(c2) t0 AS A2);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200215222858_afd3d9cf-fa82-474b-b2e1-03685d1b3d0b
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581805131066_0006, Tracking URL = http://a941f0cb9236:8088/proxy/application_1581805131066_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581805131066_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-15 22:29:11,896 Stage-1 map = 0%,  reduce = 0%
2020-02-15 22:29:16,494 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.71 sec
MapReduce Total cumulative CPU time: 1 seconds 710 msec
Ended Job = job_1581805131066_0006
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-15_22-28-58_948_3540326490819141126-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/temp0
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.71 sec   HDFS Read: 6704 HDFS Write: 3524 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 710 msec
OK
Time taken: 20.795 seconds

In [6]:
%%hive
--SELECT * 
--FROM temp0;

--SELECT *
--FROM temp0;

In [7]:
%%hive
DROP TABLE IF EXISTS temp1;
CREATE TABLE temp1
AS
    SELECT c1, A2, A3
    FROM (temp0 LATERAL VIEW explode(c3) temp0 AS A3,V1);

DROP TABLE IF EXISTS temp1;
OK
Time taken: 0.025 seconds
CREATE TABLE temp1
AS
    SELECT c1, A2, A3
    FROM (temp0 LATERAL VIEW explode(c3) temp0 AS A3,V1);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200215222920_398f831b-4148-4c77-b9ea-a456464b3f5b
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581805131066_0007, Tracking URL = http://a941f0cb9236:8088/proxy/application_1581805131066_0007/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581805131066_0007
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-15 22:29:31,168 Stage-1 map = 0%,  reduce = 0%
2020-02-15 22:29:40,101 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.53 sec
MapReduce Total cumulative CPU time: 1 seconds 530 msec
Ended Job = job_1581805131066_0007
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2020-02-15_22-29-20_215_8590270214317287087-1/-ext-10001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/temp1
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.53 sec   HDFS Read: 8620 HDFS Write: 4072 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 530 msec
OK
Time taken: 21.515 seconds

In [8]:
%%hive
--SELECT * 
--FROM temp1
--LIMIT 10;

--SELECT *
--FROM temp1
--LIMIT 10;

In [9]:
%%hive
DROP TABLE IF EXISTS salida;
CREATE TABLE salida
AS
    SELECT A2, A3, COUNT(c1)
    FROM temp1
    GROUP BY A2, A3;

DROP TABLE IF EXISTS salida;
OK
Time taken: 1.256 seconds
CREATE TABLE salida
AS
    SELECT A2, A3, COUNT(c1)
    FROM temp1
    GROUP BY A2, A3;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200215222943_60a5def3-e7b3-42ce-9c7d-894eda59f5b3
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581805131066_0008, Tracking URL = http://a941f0cb9236:8088/proxy/application_1581805131066_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581805131066_0008
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-15 22:29:54,722 Stage-1 map = 0%,  reduce = 0%
2020-02-15 22:30:03,452 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.01 sec
2020-02-15 22:30:11,153 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.18 sec
MapReduce Total cumulative CPU time: 4 seconds 180 msec
Ended Job = job_1581805131066_0008
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/salida
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.18 sec   HDFS Read: 12534 HDFS Write: 644 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 180 msec
OK
Time taken: 29.244 seconds

In [10]:
%%hive
--SELECT * 
--FROM salida
--LIMIT 5;

--SELECT *
--FROM salida
--LIMIT 5;

In [11]:
%%hive
INSERT OVERWRITE DIRECTORY 'tmp/000000_0'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;

INSERT OVERWRITE DIRECTORY 'tmp/000000_0'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200215223013_c04c7e79-5bdf-44ae-8499-2fffd523279a
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1581805131066_0009, Tracking URL = http://a941f0cb9236:8088/proxy/application_1581805131066_0009/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581805131066_0009
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-15 22:30:25,039 Stage-1 map = 0%,  reduce = 0%
2020-02-15 22:30:30,527 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.33 sec
MapReduce Total cumulative CPU time: 1 seconds 330 msec
Ended Job = job_1581805131066_0009
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/root/tmp/000000_0/.hive-staging_hive_2020-02-15_22-30-13_333_8545876806160164408-1/-ext-10000
Moving data to directory tmp/000000_0
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.33 sec   HDFS Read: 4200 HDFS Write: 573 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 330 msec
OK
Time taken: 18.368 seconds

In [12]:
!hadoop fs -copyToLocal ./tmp/000000_0 output

In [13]:
%hive_quit