In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hadoop fs -rm -f -r tmp;

Deleted tmp

In [3]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 9.32 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.954 seconds

In [4]:
%%hive
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.173 seconds

In [5]:
%%hive
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';

DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.059 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.066 seconds

In [6]:
%%hive
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.766 seconds

In [10]:
%%hive
DROP TABLE IF EXISTS salida;
CREATE TABLE salida
AS
    SELECT
        concat(tbl0.c1,',',
        tbl0.c2,',',
        tbl1.c4[tbl0.c2])
    FROM
        tbl0
    JOIN (
        SELECT
            c1,
            c4
        FROM
            tbl1
        ) tbl1
    ON
        (tbl0.c1 = tbl1.c1);

DROP TABLE IF EXISTS salida;
OK
Time taken: 0.302 seconds
CREATE TABLE salida
AS
    SELECT
        concat(tbl0.c1,',',
        tbl0.c2,',',
        tbl1.c4[tbl0.c2])
    FROM
        tbl0
    JOIN (
        SELECT
            c1,
            c4
        FROM
            tbl1
        ) tbl1
    ON
        (tbl0.c1 = tbl1.c1);
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200120001402_2e972e2f-104a-4848-a655-c16d70215453
Total jobs = 1
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]
2020-01-20 00:14:09	Starting to launch local task to process map join;	maximum memory = 477626368
2020-01-20 00:14:11	Dump the side-table for tag: 1 with group count: 10 into file: file:/tmp/root/44bcb995-9282-4f23-bd49-77b4ea34a2a4/hive_2020-01-20_00-14-02_068_1331169705343550230-1/-local-10004/HashTable-Stage-4/MapJoin-mapfile11--.hashtable
2020-01-20 00:14:12	Uploaded 1 File to: file:/tmp/root/44bcb995-9282-4f23-bd49-77b4ea34a2a4/hive_2020-01-20_00-14-02_068_1331169705343550230-1/-local-10004/HashTable-Stage-4/MapJoin-mapfile11--.hashtable (673 bytes)
2020-01-20 00:14:12	End of local task; Time Taken: 2.353 sec.
Execution completed successfully
MapredLocal task succeeded
Launching Job 1 out of 1
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579469532371_0009, Tracking URL = http://92c98434d4d4:8088/proxy/application_1579469532371_0009/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579469532371_0009
Hadoop job information for Stage-4: number of mappers: 1; number of reducers: 0
2020-01-20 00:14:21,495 Stage-4 map = 0%,  reduce = 0%
2020-01-20 00:14:27,043 Stage-4 map = 100%,  reduce = 0%, Cumulative CPU 2.09 sec
MapReduce Total cumulative CPU time: 2 seconds 90 msec
Ended Job = job_1579469532371_0009
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/salida
MapReduce Jobs Launched:
Stage-Stage-4: Map: 1   Cumulative CPU: 2.09 sec   HDFS Read: 7252 HDFS Write: 131 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 90 msec
OK
Time taken: 26.76 seconds

In [11]:
%%hive
--SELECT * 
--FROM salida;

--SELECT *
--FROM salida;

In [12]:
%%hive
INSERT OVERWRITE DIRECTORY 'tmp/000000_0'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;

INSERT OVERWRITE DIRECTORY 'tmp/000000_0'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200120001507_0986ba58-e0c3-491d-aa64-ea23b3cca83d
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1579469532371_0010, Tracking URL = http://92c98434d4d4:8088/proxy/application_1579469532371_0010/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1579469532371_0010
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-20 00:15:14,943 Stage-1 map = 0%,  reduce = 0%
2020-01-20 00:15:19,318 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.16 sec
MapReduce Total cumulative CPU time: 1 seconds 160 msec
Ended Job = job_1579469532371_0010
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/root/tmp/000000_0/.hive-staging_hive_2020-01-20_00-15-07_550_1537916691797965294-1/-ext-10000
Moving data to directory tmp/000000_0
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.16 sec   HDFS Read: 3265 HDFS Write: 61 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 160 msec
OK
Time taken: 12.934 seconds

In [13]:
!hadoop fs -copyToLocal ./tmp/000000_0 output

In [14]:
%hive_quit