In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
!hadoop fs -rm -f -r tmp;

Deleted output

In [3]:
%%hive
DROP TABLE IF EXISTS data;
CREATE TABLE data (letra STRING,
                   fecha STRING,
                   num INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';

DROP TABLE IF EXISTS data;
OK
Time taken: 13.913 seconds
CREATE TABLE data (letra STRING,
                   fecha STRING,
                   num INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';
OK
Time taken: 1.031 seconds

In [4]:
%%hive
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data;
--SELECT * FROM data LIMIT 5;

LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE data;
Loading data to table default.data
OK
Time taken: 1.351 seconds
--SELECT * FROM data LIMIT 5;

In [5]:
%%hive
DROP TABLE IF EXISTS salida;
CREATE TABLE salida
AS
    SELECT letra, count(1) AS cuenta
    FROM
        data
GROUP BY
    letra
ORDER BY
    letra;
    
--SELECT * 
--FROM salida 
--LIMIT 5;

DROP TABLE IF EXISTS salida;
OK
Time taken: 0.149 seconds
CREATE TABLE salida
AS
    SELECT letra, count(1) AS cuenta
    FROM
        data
GROUP BY
    letra
ORDER BY
    letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200112002056_f7596090-0f9b-403b-84fc-031185716960
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1578776258951_0009, Tracking URL = http://e19ecdc0743b:8088/proxy/application_1578776258951_0009/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578776258951_0009
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-01-12 00:21:08,238 Stage-1 map = 0%,  reduce = 0%
2020-01-12 00:21:16,484 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.21 sec
2020-01-12 00:21:31,928 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.03 sec
MapReduce Total cumulative CPU time: 4 seconds 30 msec
Ended Job = job_1578776258951_0009
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1578776258951_0010, Tracking URL = http://e19ecdc0743b:8088/proxy/application_1578776258951_0010/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578776258951_0010
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-01-12 00:21:46,996 Stage-2 map = 0%,  reduce = 0%
2020-01-12 00:21:54,084 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.47 sec
2020-01-12 00:22:10,806 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 3.45 sec
MapReduce Total cumulative CPU time: 3 seconds 450 msec
Ended Job = job_1578776258951_0010
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/salida
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.03 sec   HDFS Read: 7830 HDFS Write: 196 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 3.45 sec   HDFS Read: 5350 HDFS Write: 93 SUCCESS
Total MapReduce CPU Time Spent: 7 seconds 480 msec
OK
Time taken: 77.829 seconds
--SELECT *
--FROM salida
--LIMIT 5;

In [6]:
%%hive
INSERT OVERWRITE DIRECTORY 'tmp/000000_0'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;

INSERT OVERWRITE DIRECTORY 'tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT
    *
FROM
    salida;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200112002249_5bac64bc-0e59-4658-b76c-51c71e70e598
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1578776258951_0011, Tracking URL = http://e19ecdc0743b:8088/proxy/application_1578776258951_0011/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1578776258951_0011
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-01-12 00:22:57,148 Stage-1 map = 0%,  reduce = 0%
2020-01-12 00:23:02,628 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.95 sec
MapReduce Total cumulative CPU time: 950 msec
Ended Job = job_1578776258951_0011
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/root/tmp/output/.hive-staging_hive_2020-01-12_00-22-49_135_8511260297017669739-1/-ext-10000
Moving data to directory tmp/output
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 0.95 sec   HDFS Read: 3394 HDFS Write: 23 SUCCESS
Total MapReduce CPU Time Spent: 950 msec
OK
Time taken: 14.724 seconds

In [11]:
!hadoop fs -copyToLocal ./tmp/000000_0 output

In [12]:
%hive_quit